@mixin boxshadow() {

  box-shadow: 0 0 6px $color-shadows; 
}

@mixin tooltitles ($space) {

  font-size: $space * 2.125;
  font-family: "FSEC ExtraBold";
}

@mixin ellipsis () {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin absolutebox(
  $top: 0, 
  $right: 0,
  $bottom: 0,
  $left: 0
) {

  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}